snippet type
<type>$1</type>$0
endsnippet

snippet code
<code>$1</code>$0
endsnippet

snippet emphasis
<emphasis>$1</emphasis>$0
endsnippet

snippet para
<para>
    $0
</para>

endsnippet

snippet xref
<xref linkend="$1"/>$0
endsnippet

snippet section
<section>
<title>$1</title>
$0
</section>
endsnippet

snippet informal
<informalexample>
<programlisting>
$0
</programlisting>
</informalexample>

endsnippet
